{% extends 'base.html' %} {% block title %} HomePage {% endblock %} {% set
css_file = "css/index.css" %} {% block content %}

<div class="HomeContainer">

 
  <div class="StudentTable">
    <table>
    <thead>
      <h3 style="font-size:x-large; padding-bottom: 20px; ">Student Data Table</h3>

      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Roll Number</th>
        <th>Registration Num</th>
        <th>Dept Name</th>
        <th>View Data</th>    
        <th>Update Data</th>    
        <th>Delete Data</th>    
      </tr>
    </thead>
   
    <tbody>
      {% for row in data %}
      <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[7] }}</td>
        <td><a href="{{url_for('ViewData', student_id=row[0])}}"><button>View</button></a></td>     
        <td><a href="{{url_for('update', student_id=row[0])}}"><button>Update</button></a></td>     
        <td><a href="{{url_for('delete' , student_id=row[0])}}"><button>Delete</button></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  <div class="addNew">
    <a href="{{url_for('addStudent')}}">
        <button>Add a Student</button>
    </a>

  </div>

    <div class="DeptTable">
    <table>
      <thead>
        <h3 style="font-size:x-large; padding-bottom: 20px; ">Department Table</h3>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Fees</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        {% for data in deptData %}
            <tr>
              <td>{{data[0]}}</td>
              <td>{{data[1]}}</td>
              <td>{{data[2]}}</td>
              <td>{{data[3]}}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  
  </div>
     <div class="addNew">
          <a href="{{url_for('addDepartment')}}">
        <button>Add a Course</button>
    </a>
    </div>
</div>
{% endblock %}
