{% extends 'base.html' %}
{% block title %}
    Student Data
{% endblock  %}
{% set css_file = "css/index.css" %}

{% block content %}
<div class="StudentData">
 <div class="book">
    <p>Name: {{data[1]}}</p>
    <p>Age: {{data[2]}}</p>
    <p>Roll: {{data[3]}}</p>
    <p>Regn: {{data[4]}}</p>
    <p>Dept Name: {{data[7]}}</p>
    <p>Fees: {{data[8]}}</p>
    <p>Duration: {{data[9]}} Years</p>
   </div>
   <div class="OPbuttons">
       <a href="{{url_for('index') }}"> <button>Return</button></a>
    <a href="{{url_for('update', student_id=data[0])}}"><button>Update</button></a>     
    <a href="{{url_for('delete' , student_id=data[0])}}"><button class="del">Delete</button></a>
   </div>
</div>    
{% endblock  %}