<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Student Manager{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='Images/studentIcon.jpg')}}">       
    <link rel="stylesheet" href="{{ url_for('static', filename=css_file) }}">

</head>
<body>
    <Nav>
        <h2>Student Management System</h2>
    </Nav>
    {% block content %}
    <!-- all files should render here -->
    {% endblock  %}

</body>
</html>